* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --white: #fff;
    --black: #000;
    --light-black: #323030;
    --light-grey: #f3f3f3;
    /* --heading-font: "Lilita One", sans-serif; */
    --text-font: "Lato", sans-serif;;
}

/* Main section styles */

body,
.wrapper,
.modal,
.modal-wrapper {
    display: flex;
    justify-content: center;
    font-family: var(--text-font);
}

.wrapper,
.modal-wrapper {
    flex-direction: column;
    padding: 30px 10px;
    gap: 20px;
}

.wrapper {
    width: 90%;
    max-width: 600px;
}

.modal {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    align-items: center;
    transition: height .8s ease;
}

.modal-wrapper {
    background-color: var(--white);
    width: 90%;
    max-width: 600px;
    height: 500px;
}

.hide {
    display: none;
}

/* images */

.logo {
    width: 70%;
    max-width: 300px;
    margin: auto;
}

/* typography */

h1 {
    margin: 0;
    text-align: center;
}

/* form elements */

input,
select,
#submit {
    padding: 18px 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--black)
}

#submit {
    background-color: var(--light-black);
    color: var(--white);
    cursor: pointer;
    padding: 18px 10px;
}